@media screen and (min-width:600px) {  
    .alwaysTop{
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
       width: 100%;
       background-color: rgba(17, 37, 10, 0.911);
       padding-bottom: 0;
       z-index: 100;
       background: url(../../../public/img/header.jpg);
       
      } 
}

  .alwaysTop p{
    color: var(--secondary-color);
  }
  .alwaysTop p:hover{
    color: #f7d67d;
    cursor: pointer;
  }
  .main{
    color: var(--primary-color);
  }
  @media screen and (max-width:600px){
    .alwaysTop{
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%;
        background-color: transparent;
        padding-bottom: 0;
        z-index: 100;
        box-shadow: none;
    }
  }
  .Icon_Button{
    color: var(--secondary-color);
  }
  .Icon_Button:hover{
    color: #f7d67d;
    cursor: pointer;
  }
  .LogoutButton{
    position: absolute;
    left: 25px;
    top: 20px;
   
  }
  @media screen and (max-width:600px){
    .LogoutButton{
      display: none;
    }
    .userProfile{
      display: none;
    }
  }
  .LogoutButton path:hover{
    color: #f7d67d;
    cursor: pointer;
  }

  .userProfile path:hover{
    color: #f7d67d;
    cursor: pointer;
  }
  

  
  

  
